* {
    box-sizing: border-box;
}

body {
    background-color: rgba(214, 239, 247, 0.461);
}

table {
    width: 100%;
    border: 1px solid #dddd;
    border-collapse: collapse;
    margin-top: 20px;
}

.judul {
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 10px;
}




.body:nth-child(odd) {
    background-color: #f2f2f2;
}



.add {
    width: 100%;
    background-color: blue;
    border-radius: 5px;
    text-align: center;
}

a.create {
    width: 100%;
    text-decoration: none;
    background-color: blue;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
}

.add:hover {
    background-color: rgb(12, 161, 241);
}